/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}
h1,h2,h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
  font-family: 'Poppins';
  background: #f2f2f2;
}
nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}
nav h1 {
  color: #fff;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
} */

* {
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch", sans-serif;
  transition: all 0.1s ease-in;
}




:root {
  --main-bg-color-dark: #11011e;
  --new-bg: #121212;
  --new-container: #272727;
  --main-accent-color-dark: #0fae96;
  --main-text-color-dark: white;
  --btn-border-radius: 10px;
  --container-bg-color-dark: rgba(61, 20, 61, 0.122);
  --widget-bg-color-dark: #202b3b;
}

body {
  background-color: var(--new-bg);
  color: var(--main-text-color-dark);
  width: 100%;
  height: 100%;
}
button.c-kdzhTC-fsSXPQ-color-primary {
  background-color: var(--main-accent-color-dark);
  box-shadow: 0 0 10px var(--main-accent-color-dark);
  border: none;
}

button.c-kdzhTC-fsSXPQ-color-primary:hover {
  box-shadow: 0 0 20px var(--main-accent-color-dark);
  background-color: var(--main-accent-color-dark);
  transition: all 0.2s ease-in;
}

