.navbar_container {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  color: var(--main-text-color-dark);
  transition: all 1s ease-in;
  background-color: var(--new-bg);
  border-bottom: 3px solid var(--main-accent-color-dark);
  box-shadow: 0 0 10px var(--main-accent-color-dark);
}

.hamburger_menu {
  display: none;
}

.profile_picture {
  width: 50px;
  object-fit: contain;
  height: 50px;
  background-color: var(--main-accent-color-dark);
  box-shadow: 0 0 10px var(--main-accent-color-dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_picture:hover {
  cursor: pointer;
  box-shadow: 0 0 15px var(--main-accent-color-dark);
}

.profile_picture span {
  color: white;
  font-weight: bold;
}

.navbar_items {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_items h1 {
  letter-spacing: 2px;
  font-size: 32px;
}

.navbar_redirections ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 14px;
  border-radius: var(--btn-border-radius);
}

.navbar_redirections {
  border-radius: var(--btn-border-radius);
}
.navbar_redirections li {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 5px;
  border-radius: var(--btn-border-radius);
  width: 200px;
}

.navbar_redirections ul li a {
  text-decoration: none;
  color: var(--main-text-color-dark);
}

.navbar_redirections ul li a:hover {
  color: var(--main-accent-color-dark);
}

.navbar_right_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navbar_right_items button {
  width: 100px;
  height: 35px;
  background-color: var(--main-accent-color-dark);
  border: none;
  color: var(--main-text-color-dark);
  cursor: pointer;
  border-radius: var(--btn-border-radius);
  box-shadow: 0px 0px 20px var(--main-accent-color-dark);
  font-weight: bold;
}

.navbar_right_items button:hover {
  box-shadow: 0px 0px 30px var(--main-accent-color-dark);
}

#Verse {
  color: var(--main-accent-color-dark);
}

#Digi {
  color: var(--main-text-color-dark);
  cursor: pointer;
}

.title_section {
  display: flex;
  gap: 15px;
}

#digiverse-logo {
  object-fit: contain;
  width: 40px;
  filter: invert(1);
}

.active:visited {
  color: var(--main-accent-color-dark);
}

.fa-moon {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

